h1{color: brown;
text-align: center;
font-family: Arial, Helvetica, sans-serif;background-color: aliceblue;}
body{background-color:#6F6F6F;}
p{background-color: aliceblue;color: black;text-align: center;}

